<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<div class="container">
    <div class="site">
        <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/cv/cv.html">cv</a>
        </div>

        {{ content }}

        <div class="footer">
            <div class="contact">
                <p>
                    Antoine Rouaze<br/>
                    <a href="mailto:antoine.rouaze@gmail.com">antoine.rouaze@gmail.com</a>
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://github.com/erouan50/">github.com/erouan50</a><br/>
                    <a href="http://twitter.com/antoinerouaze/">twitter.com/antoinerouaze</a><br/>
                    <a href="http://fr.viadeo.com/fr/profile/antoine.rouaze1‎">video.com/antoine.rouaze</a></br>
                    <a href="http://www.linkedin.com/pub/antoine-rouaze/73/91/108">linkedin.com/antoine-rouaze</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42748687-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
